# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates
version: 2
updates:
# GitHub Actions
- package-ecosystem: "github-actions"
  directory: "/"
  schedule:
    interval: "weekly"
# Go modules in main branch
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  ## group all dependencies with a k8s.io prefix into a single PR.
  groups:
    kubernetes:
      patterns: [ "k8s.io/*" ]
  ignore:
  # Ignore controller-runtime as its upgraded manually.
  - dependency-name: "sigs.k8s.io/controller-runtime"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore k8s and its transitives modules as they are upgraded manually
  # together with controller-runtime.
  - dependency-name: "k8s.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "go.etcd.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore wrangler
  - dependency-name: "github.com/rancher/wrangler"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "github.com/rancher/wrangler/v3"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  # Ignore aws-sdk-go
  - dependency-name: "github.com/aws/aws-sdk-go"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  target-branch: "main"
  # Go modules in release-v2.14 branch
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
    kubernetes:
      patterns: [ "k8s.io/*" ]
  ignore:
  # Ignore controller-runtime as its upgraded manually.
  - dependency-name: "sigs.k8s.io/controller-runtime"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore k8s and its transitives modules as they are upgraded manually
  # together with controller-runtime.
  - dependency-name: "k8s.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "go.etcd.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore wrangler
  - dependency-name: "github.com/rancher/wrangler"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "github.com/rancher/wrangler/v3"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  # Ignore aws-sdk-go
  - dependency-name: "github.com/aws/aws-sdk-go"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  target-branch: "release-v2.14"
# Go modules in release-v2.13 branch
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
    kubernetes:
      patterns: [ "k8s.io/*" ]
  ignore:
  # Ignore controller-runtime as its upgraded manually.
  - dependency-name: "sigs.k8s.io/controller-runtime"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore k8s and its transitives modules as they are upgraded manually
  # together with controller-runtime.
  - dependency-name: "k8s.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "go.etcd.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore wrangler
  - dependency-name: "github.com/rancher/wrangler"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "github.com/rancher/wrangler/v3"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  # Ignore aws-sdk-go
  - dependency-name: "github.com/aws/aws-sdk-go"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  target-branch: "release-v2.13"
# Go modules in release-v2.12 branch
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  groups:
    kubernetes:
      patterns: [ "k8s.io/*" ]
  ignore:
  # Ignore controller-runtime as its upgraded manually.
  - dependency-name: "sigs.k8s.io/controller-runtime"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore k8s and its transitives modules as they are upgraded manually
  # together with controller-runtime.
  - dependency-name: "k8s.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "go.etcd.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore wrangler
  - dependency-name: "github.com/rancher/wrangler"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "github.com/rancher/wrangler/v3"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  # Ignore aws-sdk-go
  - dependency-name: "github.com/aws/aws-sdk-go"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore lasso in branches earlier than release-v2.13 due to k8s dependency changes causing build failures.
  - dependency-name: "github.com/rancher/lasso"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  target-branch: "release-v2.12"
# Go modules in release-v2.11 branch
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  ## group all dependencies with a k8s.io prefix into a single PR.
  groups:
    kubernetes:
      patterns: [ "k8s.io/*" ]
  ignore:
  # Ignore controller-runtime as its upgraded manually.
  - dependency-name: "sigs.k8s.io/controller-runtime"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore k8s and its transitives modules as they are upgraded manually
  # together with controller-runtime.
  - dependency-name: "k8s.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "go.etcd.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore wrangler
  - dependency-name: "github.com/rancher/wrangler"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "github.com/rancher/wrangler/v3"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  # Ignore rancher apis
  - dependency-name: "github.com/rancher/rancher/pkg/apis"
  # Ignore aws-sdk-go
  - dependency-name: "github.com/aws/aws-sdk-go"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore lasso in branches earlier than release-v2.12 due to k8s dependency changes causing build failures.
  - dependency-name: "github.com/rancher/lasso"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  target-branch: "release-v2.11"
# Go modules in release-v2.10 branch
- package-ecosystem: "gomod"
  directory: "/"
  schedule:
    interval: "weekly"
  ## group all dependencies with a k8s.io prefix into a single PR.
  groups:
    kubernetes:
      patterns: [ "k8s.io/*" ]
  ignore:
  # Ignore controller-runtime as its upgraded manually.
  - dependency-name: "sigs.k8s.io/controller-runtime"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore k8s and its transitives modules as they are upgraded manually
  # together with controller-runtime.
  - dependency-name: "k8s.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "go.etcd.io/*"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore wrangler
  - dependency-name: "github.com/rancher/wrangler"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  - dependency-name: "github.com/rancher/wrangler/v3"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  # Ignore rancher apis
  - dependency-name: "github.com/rancher/rancher/pkg/apis"
  # Ignore aws-sdk-go
  - dependency-name: "github.com/aws/aws-sdk-go"
    update-types: [ "version-update:semver-major", "version-update:semver-minor" ]
  # Ignore lasso in branches earlier than release-v2.11 due to k8s dependency changes causing build failures.
  - dependency-name: "github.com/rancher/lasso"
    update-types: [ "version-update:semver-major", "version-update:semver-minor", "version-update:semver-patch" ]
  target-branch: "release-v2.10"
