name: Run E2E test workflow
on:
  workflow_dispatch:
  schedule:
    - cron: 0 22 * * *
permissions:
  contents: read
  packages: write # Required for pushing images to ghcr.io
jobs:
  e2e-test-main:
    uses: ./.github/workflows/e2e-branch.yaml
    with:
      branch: main
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  e2e-test-v2_13:
    if: ${{ always() }}
    needs: e2e-test-main
    uses: ./.github/workflows/e2e-branch.yaml
    with:
      branch: release-v2.13
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  e2e-test-v2_12:
    if: ${{ always() }}
    needs: e2e-test-v2_13
    uses: ./.github/workflows/e2e-branch.yaml
    with:
      branch: release-v2.12
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  e2e-test-v2_11:
    if: ${{ always() }}
    needs: e2e-test-v2_12
    uses: ./.github/workflows/e2e-branch.yaml
    with:
      branch: release-v2.11
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  e2e-test-v2_10:
    if: ${{ always() }}
    needs: e2e-test-v2_11
    uses: ./.github/workflows/e2e-branch.yaml
    with:
      branch: release-v2.10
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  e2e-test-v2_9:
    if: ${{ always() }}
    needs: e2e-test-v2_10
    uses: ./.github/workflows/e2e-branch.yaml
    with:
      branch: release-v2.9
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
  e2e-test-v2_8:
    if: ${{ always() }}
    needs: e2e-test-v2_9
    uses: ./.github/workflows/e2e-branch.yaml
    with:
      branch: release-v2.8
    secrets:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      AWS_REGION: ${{ secrets.AWS_REGION }}
      SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
