name: Scan
on:
  pull_request:
  push:
    branches: [ "main", "release-v*" ]
    tags:
      - "v*"
jobs:
  scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v3.2.0
      - name: Build image
        uses: docker/build-push-action@v6.6.1
        with:
          context: .
          tags: ghcr.io/rancher/eks-operator:${{ github.sha }}
          load: true
          push: false
          file: test/e2e/Dockerfile.e2e
          build-args: |
            TAG=${{ github.sha }}
            REPO=ghcr.io/rancher/eks-operator
            COMMIT=${{ github.sha }}
      - name: Run Trivy vulnerability scanner
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: "ghcr.io/rancher/eks-operator:${{ github.sha }}"
          format: "table"
          exit-code: "1"
          ignore-unfixed: true
          severity: "CRITICAL,HIGH"
